{% extends 'base.html.twig' %}
{% block title %}
	Conditions Generales
{% endblock %}

{% block body %}

	<body class="font-inter">
	{# Formulaire de recherche #}
	{% include 'partials/_search_data.html.twig'%}
		<section class="">
			<div class="w-full">

				<div class="w-full bg-cover bg-center bg-no-repeat lg:pt-44 pt-28 lg:pb-24 pb-14 px-12 xl:px-20" style="background-image: url('https://pagedone.io/asset/uploads/1702271852.png');">
					<h1 class="mb-8 text-center text-gray-900 font-bold font-manrope leading-tight lg:text-5xl text-3xl">
						Conditions Générales d'Utilisation
					</h1>

				</div>
				<section class="w-full relative overflow-hidden lg:py-28 py-16">
					<div class="px-12 xl:px-20">
						<div class="flex flex-col md:flex-row w-full gap-8">

							<div class="w-full tab-pane max-md:px-4">
								<div class="flex items-center gap-3 lg:mb-10 mb-8">

									<h3 class="font-medium text-3xl leading-8 text-indigo-600">Comment utiliser les recettes diffusées sur ce site</h3>
								</div>
								<p class="font-normal text-lg leading-8 text-gray-500 lg:mb-10 mb-8">
									Toutes les recettes diffusées sur le site peuvent être utilisées dans le cadre des deux hypothèses décrites ci-dessous selon votre statut.
									<br>
									<br>
									Dans tous les cas, vous ne pouvez pas les reproduire pour en faire un usage commercial.

									<br>
									<br>
									Les recettes diffusées sur le site sont incorporées dans une base de données appartenant à la site CookBook, vous ne pouvez ni reproduire cette base de données, ni extraire des données contenues dans cette base autrement que pour votre usage privé.

								</p>
								<p class="font-manrope font-medium md:text-xl text-2xl text-gray-900 mb-4">Vous êtes un particulier :</p>
								<p class="font-normal text-lg leading-8 text-gray-500 lg:mb-10 mb-8">
									Vous pouvez utiliser toutes les recettes diffusées sur le site pour votre usage privé : repas entre amis ou en famille.
									<br>
									N'hésitez pas à donner votre avis sur les recettes et sur le site dans les rubriques " Votre Commentaire et donner une note à un plat ".
									<br>
									Inscrivez-vous pour laisser un commentaire.<br>
								</p>
								<p class="font-manrope font-medium md:text-xl text-2xl text-gray-900 mb-4">Vous êtes un professionnel : cuisinier, restaurateur :</p>
							</p>
							<p class="font-normal text-lg leading-8 text-gray-500 lg:mb-10 mb-8">
								Vous pouvez utiliser les recettes sans droit de publier la recette elle-même sous 2 conditions :
								<br>
								retour d'expérience : dans les commentaires pouvant être associés à chaque recette;
								<br>
								visibilité de la source de la recette sur votre menu : " Cette recette vient du site www.CookBook.com".
								<br>

								<br>


							</p>

							<p class="font-medium text-3xl leading-8 text-indigo-600 mb-7">Responsabilité</p>
							<p class="font-normal text-lg leading-8 text-gray-500 lg:mb-10 mb-8">
								1. CookBook.com ne garantit pas le résultat des recettes diffusées sur son site, ni leur qualité. CookBook ne garantit pas que les recettes répondront aux attentes des internautes ou que leurs résultats seront exacts et fiables.
								<br><br>
								En conséquence, la responsabilité de CookBook.com ne saurait être engagée en cas d'erreur ou d'omission dans l'une de ces recettes, textes, informations ou illustrations diffusées sur son site.
								<br><br>
								Toutefois, merci de nous faire connaître vos commentaires dans la rubrique " Votre Commentaire ? ", ainsi que dans les commentaires pouvant être associés à chaque recette.
								<br><br>
								2. Des liens hypertextes peuvent renvoyer vers d'autres sites que le site CookBook.com.
								CookBook.com dégage toute responsabilité dans le cas où le contenu de ces sites serait contraire à la réglementation en vigueur.
								<br><br>
								3. Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité.
								<br>
								En conséquence, CookBook.com ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.
								<br><br>
								4. Tout utilisateur du site CookBook.com s'engage à garantir et indemniser la société CookBook.com contre tout dommage, plainte ou demande émanant de tiers consécutif à l'envoi, la diffusion ou la transmission de contenu sur le site www.cookbook.com.
								<br><br>
							</p>


						</div>
					</div>
				</div>
			</section>
		</div>
	</body>
</section></body>{% endblock %}
