{{form_start(formSearch)}}
<div class="flex justify-center  ">
	<div class="mb3 xxl:w-96">
		<div class="input-group relative flex flex-wrap items-stretch w-full mb-4">
        {{ form_widget(formSearch.q) }}
		
		<button class="p-1 px-2" type="submit">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
				<path d="M21 21L18.5 18.5M19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19C13.2006 19 15.1937 18.1115 16.6401 16.6736C18.0976 15.2246 19 13.2177 19 11Z" stroke="black" stroke-width="1.6" stroke-linecap="round"></path>
			</svg>
		</button>
		
		</div>
	</div>
</div>
{{form_end(formSearch)}}
