{% extends 'base.html.twig' %}

{% block title %}Notez la recette
{% endblock %}

{% block body %}

	<div class="max-w-md mx-auto">
		<h1 class="text-2xl font-semibold text-center">Notez notre recette</h1>

		<div class="relative mb-6 mr-7">{{form(formNote)}}</div>


	{% endblock %}
