<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{# templates/base.html.twig #}

		{% block stylesheets %}{% endblock %}

		{% block javascripts %}
			<script src="https://cdn.tailwindcss.com"></script>

			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>

		{# Navbar #}
		{% include 'partials/_navbar.html.twig' %}

		{# Formulaire de recherche #}
        {% include 'partials/_search_data.html.twig'%}
       

		<main>
			{% block body %}
		
			{% endblock %}
		</main>
		{# Footer 
				    <a href={{ path('app_conditions_generales') }}  >Conditions générales</a>
				    <a href={{ path('app_contact') }}  >Contactez-nous</a>#}
	</body>
</html>
